
<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Login to Linkletter</title>
    <script src="/assets/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="js/semantic.js" type="text/javascript"></script>

		<!-- scripts and styles -->
		<link rel="stylesheet" type="text/css" href="css/semantic.css">
		<link rel="stylesheet" href="css/login.css"/>
  </head>
  <body>
	
		<div class="ui raised padded container text segment center aligned login-container">
			<div class="login-logo-img">
				<img class=" ui fluid image" src="img/ll_login_logo.png" />
			</div>
			<p>Sign in or create an account</p>
			<button id="fb-login" class="ui primary button" type="submit">Login with Facebook</button>
		</div>


<script>

var redirect_url = "https://www.facebook.com/dialog/oauth?"
  + "client_id=826503424132665"
  + "&redirect_uri=http://localhost:3000/auth"
  //+ "&redirect_uri=http://linkletter.co/auth"
  + "&scope=public_profile,email";

$(document).ready(function(){
// This is called with the results from from FB.getLoginStatus().
//window.fbAsyncInit = function() {
 //};

  $("#fb-login").click(function(e){
    e.preventDefault();
    console.log('login button clicked');

		window.location.href = redirect_url;
    //FB.getLoginStatus(handleFbStatus);
  });

	//FB.getLoginStatus(handleFbStatus);
});
      </script>
  </body>
</html>


