#main.container{
  background-color: #EBEDED;
  min-height: 100%;
}
.hide{
  display: none !important;
}
.show{
  display: block !important;
}
.menu-container{
  width: 100%;
  padding: 10px 20px;
  display: inline-block;
  background: #fff;
}
.menu-container .ui.menu .item {
  padding: 4px 10px;
}
.header.logo{
  width: 120px;
}

.menu-container .header.logo span{
  margin-left: 5px;
  color: #55575A;
}
.menu-container .ui.secondary.menu .header.logo,
.menu-container .link-container .link{
  border: 1px solid rgba(34, 36, 38, 0.15);
  margin: 0;
}
.menu-container .ui.menu .item.link-input{
  padding-left: 0;
  margin: 0;
  width: calc(100% - 170px);
}
.menu-container .link-container{
  width: 100%;
}
.menu-container .link-container .link{
  /*border-radius: 0 !important;*/
  width: 100%;
  border-radius: 0px;
  border-left: 0px none;
  border-radius: 0px;
  border-left: 0px none;
  min-width: 400px;
  background-color: #F4F4F4;
}

.logout-button i.power{
  font-size: 20px;
}
.no-link-page{
  max-width: 600px !important;
  margin: 6% auto 0px auto;
  text-align: center;
  color: #8a8a8a;
}
.no-link-page .intro{
  font-size: 20px;
}
.no-link-page .no-link-logo-image .image{
  margin: 0px auto 10px auto;
}

.no-link-page .link-label-container{
  margin-top: 12px;
}
.no-link-page .link-label-container label{
  margin-bottom: 10px;
  display: block;
}
.no-link-page .input.ui{
  display: flex;
}

.ll-color{
  color: #3EAFAF;
}

.collection-page{
  padding-top: 40px !important;
}
.collection-page .link-container{
  background-color: #fff;
  cursor: pointer;
}
.collection-page .link-container .link-image-wrapper{
  height: 100px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-color: #AFAFAF;
  position: relative;
}
.collection-page .link-container .link-title{
  color: #fff;
}
.collection-page .link-container .link-desc{
  padding: 10px;
  color: #999999;
  height: 210px;
  word-break: break-all;
}
.collection-page .link-container .link-title{
  position: absolute;
  bottom: 0px;
  padding: 0px 10px 5px;
  font-size: 18px;
  text-shadow: 1px 0px 2px #969696; 
  z-index: 50;
}
.collection-page .link-container .link-url{
}
.collection-page .link-container .link-footer{
  padding: 2px 10px;
  border-top: 1px solid #F0F0F0;
}

.collection-page .link-container .link-footer .domain{
  font-size: 12px;
  display: inline-block;
}
.collection-page .link-container .link-footer .domain:hover{
  text-decoration: none;
  font-weight: bold;
}
.collection-page .link-container .link-footer .domain img{
  height: 12px;
}

.collection-page .link-container .link-footer .link-controls{
  float: right;
  display: inline-block;
  opacity: 0;
  filter:alpha(opacity=0);
  transition: opacity 0.1s linear 0s;
  color: #b0b0b0;
  transform: translateZ(0px);
}
.collection-page .link-container:hover .link-footer .link-controls{
   opacity: 1;
  filter:alpha(opacity=100);

}
.collection-page .link-container .link-footer .link-controls a,
.collection-page .link-container:hover .link-footer .link-controls .icon{
  color: #b0b0b0;
}

.collection-page .link-container .link-footer .link-controls .icon:hover{
  color: #757575;
}

/* .add-link-dlg{
  width: 
}*/

.ui.button.ll-button-primary{
  background: rgb(62, 175, 175) none repeat scroll 0% 0%;
  color: white;
}

.custom-dialog{
  margin-left: -265px !important;
  width: 530px !important;
}
.custom-dialog .column{
}

.custom-dialog .content-wrapper{
  padding: 10px 15px;
}

.add-link-dlg .link-preview-img{
  height: 240px;
  background-size: contain;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
}
.custom-dialog .title-container,
.custom-dialog .desc-container{
  margin: 10px 0;
  width: 100%;
}

.custom-dialog .actions{
  text-align: center;
}

/* loader styles */
.loader-container{
  height: 240px;
  width: 100%;
  position: absolute;
  top: 0;
}
.loader,
.loader:before,
.loader:after {
  background: #3EAFAF;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader {
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #3EAFAF;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #3EAFAF;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #3EAFAF;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #3EAFAF;
    height: 5em;
  }
}
