html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    padding-top: 40px;
}
<<<<<<< HEAD

.links-container{
  height: 200px;
}

.links-container .link-item{
  height: 100%;
}

.links-container .link-item img{
  height: 100%;
  width: auto;
}
=======
>>>>>>> b80c846ebbea60f717b6186d075e43a89ea2225d
